<article class="grid-post {{post_class}}">
    <header class="grid-post__header">
        <h2 class="grid-post__title"><a href="{{url}}">{{{title}}}</a></h2>
    </header>            
    <footer class="grid-post__footer">
        <div class="grid-post__authorinfo">
            <div class="grid-post__author">{{author}}</div> <time class="grid-post__date" datetime="{{date format='YYYY-MM-DD'}}">{{date format='MM.DD.YYYY'}}</time>    
        </div>
        <div class="grid-post__tags">
            {{tags separator=" / "}}
        </div>
    </footer>
    <img class="grid-post__cover-image" src="{{img_url feature_image}}">
</article>