
{{#if pagination.prev}}
<div class="post-listing__pageindicator">
    <h2>Page <strong>{{pagination.page}}</strong> of <strong>{{pagination.pages}}</strong></h2>
</div>
{{/if}}
<section id="postsgrid" class="posts-grid">

    {{#foreach posts}}
        {{> grid-list-post}}
    {{/foreach}}

</section>

<template id="posttemplate">
{{> grid-post-template}}
</template>

<script src="{{asset "/js/lazyloadmore.js"}}" defer="defer"></script>
<button id="loadmore" class="load-more" style="display:none">&#x25BF; Load More &#x25BF;</button>
<noscript>
    {{pagination}}
</noscript>
