<article class="grid-post">
    <header class="grid-post__header">
        <h2 class="grid-post__title"><a href="#"></a></h2>
    </header>            
    <footer class="grid-post__footer">
        <div class="grid-post__authorinfo">
            <div class="grid-post__author">{{author}}</div> <time class="grid-post__date" datetime="1969-12-31"></time>    
        </div>
        <div class="grid-post__tags">
        </div>
    </footer>
    <img class="grid-post__cover-image" src="#" alt="">
</article>
