<script type="text/javascript" src="{{asset "js/hamburger.js"}}"></script>
<div id="mobile-header__sidebar-button" class="mobile-header__sidebar-button openable">
        <img class="hamburger" src="{{asset "images/hamburger.svg"}}" />
        <img class="xmark" src="{{asset "images/ecks.svg"}}" />
</div>