<article class="list-post {{post_class}}">
    <header class="post-header">
        <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
        {{#if feature_image}}
        <img class="post-list__feature-img" src={{feature_image}} alt="post featured image"/>
        {{/if}}
    </header>            
    <p>{{excerpt words="25"}}<a class="read-more" href="{{url}}">[read more] &raquo;</a></p>
    <footer class="post-footer">
        <span class="post-authorinfo">
            {{author}} / <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format='MMM Do YYYY'}}</time>
        </span>
    </footer>
</article>
<hr>