<header id="mobile-header" class="mobile-header">
    {{> hamburger-button}}
    {{#if @blog.logo}}
    <div class="mobile-header__logo">
        <a class="blog-logo" href="{{@blog.url}}">
            <img src="{{@blog.logo}}" alt="Blog Logo" />
        </a>
    </div>
    {{else}}
    <div class="mobile-header__title">
        <h1><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
    </div>
    {{/if}}
</header>