<aside class="page-sidebar">


    {{#if @blog.logo}}
    <div class="page-sidebar__logo">
        <a class="blog-logo" href="{{@blog.url}}">
            <img src="{{@blog.logo}}" alt="Blog Logo" >
        </a>
    </div>
    {{else}}
    <div class="page-sidebar__bloginfo">
        <h1><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
        <h3 class="page-sidebar__blog-description">
            {{@blog.description}}
        </h3>
    </div>
    {{/if}}

    <nav class="nav-tags-wrap">
        {{navigation}}
        {{#if @labs.publicAPI}}
        {{#get "tags" limit="all"}}
        <hr>
        <ul class="tags">
            {{#foreach tags}}
            <li><a href="{{url}}">{{name}}</a></li>
            {{/foreach}}
        </ul>
        {{/get}}
        {{/if}}
    </nav>
    {{#if @blog.cover_image}}
    <img class="page-sidebar__cover-image cover-image" src="{{@blog.cover_image}}" alt="Blog Cover Image" >
    {{/if}}

        {{tags}}
</aside>