<section class="posts-list">

    {{#if pagination.prev}}
    <div class="post-listing__pageindicator">
        Page <strong>{{pagination.page}}</strong> of <strong>{{pagination.pages}}</strong>
    </div>
    {{/if}}

    {{#foreach posts}}
        {{> list-post}}
    {{/foreach}}

</section>
    {{pagination}}
