<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>{{title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,500|Zilla+Slab" rel="stylesheet">
    
    <link rel="stylesheet" type="text/css" href="{{asset "css/normalize.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" />

    {{ghost_head}}
</head>

<body class="{{body_class}}">
    <div id="site-wrapper" class="site-wrapper">

        {{{body}}}

        <footer class="site-footer outer">
            <div class="site-footer-content inner">
                {{#if @blog.logo}}
                <div class="site-footer__logo">
                    <a class="blog-logo" href="{{@blog.url}}">
                        <img src="{{@blog.logo}}" alt="Blog Logo" >
                    </a>
                </div>
                {{/if}}
                <a href="#">Back to Top</a>
                <nav class="site-footer-nav">
                    <a href="{{@blog.url}}">Latest Posts</a>
                    {{#if @blog.facebook}}• <a href="{{facebook_url @blog.facebook}}" target="_blank">Facebook</a>{{/if}}
                    {{#if @blog.twitter}}• <a href="{{twitter_url @blog.twitter}}" target="_blank">Twitter</a>{{/if}}
                </nav>
                <section class="copyright"><a href="{{@blog.url}}/about">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
                <span class="callback"><a href="http://beatbox.cayal.net">Beatbox</a> for <a href="https://ghost.org" target="_blank">Ghost</a></span>
            </div>
        </footer>

    </div>

    {{{block "scripts"}}}

    {{ghost_foot}}
</body>
</html>
