{{!< default.hbs }}
{{> page-sidebar}}
<div class="page-about-wrap content-wrap">
    {{> mobile-header}}
    {{#post}}
    <article class="page-about__article">
        <img class="page-about__feat-img cover-image" src="{{feature_image}}" alt="About Page featured image" />
        <div class="page-about__content">
            <h1>{{title}}</h1>
            {{{content}}}
        </div>
    </article>
    {{/post}}
</div>