{{!< default.hbs }}
{{> page-sidebar}}
<div class="post-single-wrap content-wrap">
    {{> mobile-header}}
    {{#post}}
    <article class="post-single">
        <header class="post-single__header">
            <img class="post-single__feat-img" src="{{feature_image}}" alt="{{title}} featured image" />
            <h1>{{title}}</h1>
            <p>{{author}}</p>
            <time class="post-single__date" datetime="{{date format='YYYY-MM-DD'}}">{{date format='MMMM DD, YYYY'}}</time>
        </header>
        <div class="post-single__content">{{{content}}}</div>
        <footer class="post-single__footer">
            {{#author}}
            <p>
            <img src="{{profile_image}}"/>
                {{{bio}}}
            </p>
            {{/author}}
        </footer>
    </article>
    {{/post}}
</div>