<!DOCTYPE html>
<html>
<head>
	<title>Beatbox Theme For Ghost - Documentation</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/shoelace-css/1.0.0-beta8/shoelace.css">
	<style>
		:root {
			--headings-margin-bottom: 0.5em;
		}
		h1, h2, h3, h4, h5, h6 {
			margin-top: 1em;
			font-weight: 500;
		}
		li {
			margin: 1em 0 1em 0;
		}
	</style>
<head>
<body style="max-width: 33em; margin: 0 auto">
	<h1>
		Beatbox for Ghost - Documentation
	</h1>
	<p style="font-style:italic">For Beatbox version 1.0.0
		<br>Cayal Walker
		<br><a href="mailto:cayalwalker@gmail.com">cayalwalker@gmail.com</a>
		<br><a href="http://cayal.net">http://cayal.net</a>
	</p>
	<aside>
		<h4>Note from the author</h3>
		<p>
			As the developer of Beatbox, I make efforts to put TLC into my code in development as well as after release. If you have any suggestions, bug reports, or feature requests for the theme, feel free to contact me through the form on my user page <a href="https://themeforest.net/user/cayalwalker">here</a>.
		<br>
		Thank you very much for buying the theme!
		<br>
		<i>-Cayal</i>
		</p>
	</aside>
	<hr>
	<section>
	<h2>Installation</h2>
	<ol>
		<li>Navigate to the backend of your Ghost blog. This should be located at: <br>
			<code>http://{blog-url}}/ghost</code> 
			<br> or 
			<br> <code>http://{blog-url}}/admin</code>
		</li>
		<li>On the sidebar to the left (on mobile, you will need to click "More" in the bottom-right hand corner), select "Design" under "Settings".</li>
		<li>Click "upload a theme", and upload the <code>beatbox.zip</code> file.</li>
		<li>Click "activate" next to the theme listing.</li>
	</ol>
	That's it!
	</section>

	<section>
	<h2>Customization</h2>
	<p>
		In order to customize the theme, unzip <code>beatbox.zip</code> to a new directory, and edit the files contained within. Below, I describe some of the files and how they can be edited.
	</p>
	<p>
		If you aren't familiar with Handlebars, simply ignore the portions of the code surrounded with double (e.g. <code>{{example}}</code>) or triple (e.g. <code>{{{example}}}</code>) curly braces. These are Handlebars code, and are used to automatically template certain parts of the page, or include other files. For more on Handlebars helpers, view the <a href="http://handlebarsjs.com/expressions.html">official documentation.</a> Otherwise, Handlebars templates can be edited as normal HTML.
	</p>

	<h3>default.hbs</h3>
	<p>This is the most high-level Handlebars template powering the theme, and it directly contains code for the site head, stylesheet links, and footer.</p>

	<h3>index.hbs, post.hbs, tag.hbs, page-about.hbs</h3>
	<p>These three files, respectively, control the rendering of the front page, a single post, a single tag, and the about page.</p>

	<h3>amp.hbs</h3>
	<p>This is a special AMP HTML file used to boost search rankings with Google. It contains a stripped-down version of a post view. To learn more about AMP, visit the <a href="https://www.ampproject.org/">official webpage.</a></p>

	<h3>/partials</h3>
	<p>Small files which are imported to populate other templates.</p>
	
	<h3>/assets</h3>
	<p>The assets directory contains important assets to the theme, including CSS, scripts, and images.</p>

	<h5>/built</h5>
	<p>The finished, compiled site CSS. Don't edit these files directly, but instead compile the <code>/css</code> directory from Sass.</p>

	<h5>/css</h5>
	<p>SASS source files for the compiled css. To run sass, first make sure the dependency is installed by running the following in the command line while in the beatbox directory:
		<pre>npm install</pre>
		Then, when you are ready to build your changes:
		<pre>npm run compile</pre>
		This will compile the CSS and put it in the "assets/built" folder.
	</p>

	<h5>/images, /fonts, /js</h5>
	<p>Images, fonts, and scripts that are included elsewhere in the theme. There are currently no fonts in the "fonts" folder, and webfonts are loaded via the Google Fonts API. However, if you have a webfont you plan to self-serve, it's advised to place it in this directory while customizing your theme.</p>
	</section>
	<hr>
	<p>
		Again, if you have any questions not covered in this documentation, would like to see something explored upon further in the docs, or would like to report a bug, feel free to contact me <a href="https://themeforest.net/user/cayalwalker">here</a> or shoot me an email. I can't promise to solve every issue immediately, but your feedback is a great help. Thank you again for buying the theme, and enjoy!
	</p>
</body>
</html>