{{!< default.hbs }}
{{> page-sidebar}}
<div class="content-wrap">
    {{> mobile-header}}
    {{#tag}}
    <div class="tag-info">
        {{#if name}}
        <h1 class="tag-info__name">tag: {{name}}</h1>
        {{else}}
        <h1 class="tag-info__name">tag: {{id}}</h1>
        {{/if}}
        <p class="tag-info__description">{{description}}</p>
        {{#if feature_image}}
        <img class="tag__featured-img cover-image" src={{feature_image}} alt="{{name}} tag cover image"/>
        {{/if}}
    </div>
    {{/tag}}
    {{> post-listing}}

</div>