@charset "UTF-8";
/**
* Site-wide defaults and helpers
**/
:root {
  --body-black: #1C1810;
  --body-grey: #C6C6C6;
  --accent-dark-a: #594471;
  --accent-dark-b: #2090CD;
  --accent-light-b: #9BCCC8;
  --lightest-a: #f4f6f5;
  --lightest-b: #e0f1fa;
  --padding-md: 0.5rem;
  --padding-lg: 1.5rem;
  --japonica: #D7785D;
  --portage: #7B8FE3;
  --san-marino: #4973B2;
  --kimberly: #73699E;
  --shakespeare: #52A8C8 ;
  --sheer-white: rgba(255,255,255,0.8);
  --paragraph-width: 33em;
}

:root {
  font-size: calc(15px + 0.15vw);
}

pre, th, td, input {
  padding: var(--padding-md);
}

html {
  background: #000;
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--body-black);
  line-height: 1.2em;
  letter-spacing: 0.03em;
  font-weight: 300;
}

a {
  color: var(--accent-dark-b);
  text-decoration: none;
}

a:hover {
  color: var(--accent-light-b);
}

p {
  max-width: var(--paragraph-width);
  line-height: 1.7em;
}

h1, h2, h3, h4, h5, h6, legend {
  font-family: "Zilla Slab", serif;
  font-weight: 400;
}

h1 > a, h2 > a {
  color: inherit;
}

blockquote {
  padding-left: 1em;
  border-left: 0.25em solid var(--body-black);
  font-family: "Zilla Slab", serif;
  font-weight: 300;
}

ol, ul {
  line-height: 1.5em;
}

table {
  text-align: center;
  border-collapse: collapse;
}

caption, figcaption {
  margin: var(--padding-md);
}

thead, tfoot {
  color: white;
  background: var(--japonica);
}

th, td {
  font-weight: inherit;
}

tbody th, tbody td {
  border: 1px solid #e4e4e4;
}

tbody > tr:nth-child(2n+1) {
  background: var(--lightest-a);
}

pre {
  background: var(--lightest-a);
}

dt {
  font-weight: bold;
}

dd {
  font-style: italic;
  color: var(--body-grey);
}

kbd, code, samp, var {
  background: var(--lightest-a);
  color: var(--accent-dark-a);
}

figure {
  font-style: italic;
  padding: 0.25em;
}

label[for=textarea] {
  vertical-align: top;
}

.error::before {
  font-size: 0.85em;
  content: "❌";
  margin-right: 0.5em;
}

button, input[type=submit], input[type=button], input[type=reset] {
  background: var(--accent-dark-a);
  color: white;
  font-weight: lighter;
  font-size: 1.2em;
  border: 0;
  padding: var(--padding-md);
  margin: 0.25em;
  border-radius: 999px;
  cursor: pointer;
}

button:not(:disabled):hover, input[type=submit]:not(:disabled):hover, input[type=button]:not(:disabled):hover, input[type=reset]:not(:disabled):hover {
  filter: brightness(1.2);
}

button:disabled, input[type=submit]:disabled, input[type=button]:disabled, input[type=reset]:disabled {
  background: var(--accent-light-b);
  color: var(--lightest-b);
  cursor: default;
}

button[type=submit], input[type=submit] {
  background: var(--accent-dark-b);
}

/**
* Wrappers, footer, sidebar, header 
**/
/**********************
* General/Wrapper
**********************/
.site-wrapper {
  display: grid;
  position: relative;
  min-height: 100vh;
  transition: all 0.25s;
  grid-template-columns: 33vw 100vw;
  grid-template-rows: auto 17em;
  grid-template-areas: "sidebar action" "sidebar footer";
  width: 133vw;
  left: -33vw;
}
.site-wrapper.sidebar-open {
  left: 0;
}
@media (min-width: 48em) {
  .site-wrapper {
    grid-template-columns: 0.2fr 0.8fr;
    grid-template-rows: auto auto;
    grid-template-areas: "sidebar action" "footer footer";
    width: 100vw;
    left: 0;
  }
}
@media (min-width: 72em) {
  .site-wrapper {
    grid-template-columns: 230px 1fr;
  }
}

.content-wrap {
  grid-area: action;
}

.pad-top-mobile {
  padding-top: 7em;
}
@media (min-width: 48em) {
  .pad-top-mobile {
    padding-top: var(--padding-lg);
  }
}

.cover-image {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.kg-card-markdown {
  max-width: var(--paragraph-width);
}

.post-listing__pageindicator {
  padding: 7em var(--padding-lg) var(--padding-lg) var(--padding-lg);
  box-sizing: border-box;
  color: white;
  position: relative;
  overflow: hidden;
}

.load-more {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1em;
  background: 0;
  width: 100%;
  background: #0C0E17;
  border-radius: 0;
  margin: 0 auto;
  position: relative;
  display: block;
  color: var(--body-grey);
}

/**********************
* Pagination
**********************/
.pagination {
  padding: var(--padding-lg);
  text-transform: uppercase;
  color: var(--sheer-white);
  display: block;
  justify-content: center;
  align-items: center;
  background: #0C0E17;
}
.pagination::before {
  content: "(";
}
.pagination::after {
  content: ")";
}

/**********************
* Site Footer
**********************/
.site-footer {
  text-transform: uppercase;
}
.site-footer a {
  color: inherit;
  font-weight: 300;
}
.site-footer a:hover {
  color: white;
}

.site-footer-content {
  flex-direction: column;
}
@media (min-width: 48em) {
  .site-footer-content {
    flex-direction: row;
  }
}

.site-footer {
  background: #000;
  grid-area: footer;
  text-align: center;
  color: var(--body-grey);
  padding: var(--padding-lg);
  line-height: 1.5em;
}

.site-footer-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.site-footer-content a {
  text-decoration: underline;
}

.site-footer__logo {
  height: 4em;
  margin-bottom: 2em;
}
.site-footer__logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.callback {
  justify-self: flex-end;
}

/**********************
* Mobile Header
**********************/
.mobile-header {
  position: fixed;
  display: block;
  box-sizing: border-box;
  max-height: 7em;
  padding: var(--padding-lg);
  z-index: 10;
  width: 100%;
  transition: background-color 0.5s;
}
.mobile-header.shaded {
  background: #000;
}
@media (min-width: 48em) {
  .mobile-header {
    display: none;
  }
}

.mobile-header__sidebar-button {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
}
.mobile-header__sidebar-button.openable .hamburger {
  display: block;
}
.mobile-header__sidebar-button.closable .xmark {
  display: block;
}

.mobile-header__logo {
  height: 4em;
}
.mobile-header__logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.hamburger, .xmark {
  display: none;
  height: 2em;
  transition: opacity 0.25s;
}

/**********************
* Site Sidebar
**********************/
.page-sidebar {
  box-shadow: inset -25px -20px 45px -25px rgba(0, 0, 0, 0.5);
  background: linear-gradient(-180deg, #000000 0%, #232628 79%, #3D3F43 100%);
  overflow: hidden;
  grid-area: sidebar;
  position: relative;
  box-sizing: border-box;
  padding: 8%;
  color: var(--body-grey);
  text-transform: uppercase;
}
.page-sidebar hr {
  opacity: 0.2;
}
.page-sidebar .nav, .page-sidebar .tags {
  margin-left: 3px;
  list-style-type: none;
  line-height: 2.3em;
  padding-left: 0;
}
.page-sidebar a {
  color: inherit;
  font-weight: 300;
}
.page-sidebar a:hover {
  color: white;
}

.page-sidebar__logo {
  display: none;
  position: relative;
  z-index: 1;
  text-align: center;
}
.page-sidebar__logo img {
  width: 100%;
  max-height: 100px;
  object-fit: contain;
}
@media (min-width: 48em) {
  .page-sidebar__logo {
    display: block;
  }
}

.page-sidebar nav {
  position: fixed;
}
@media (min-width: 48em) {
  .page-sidebar nav {
    position: relative;
  }
}

.page-sidebar__bloginfo {
  position: relative;
  z-index: 2;
}

.page-sidebar__cover-image {
  opacity: 0.25;
}

.nav-tags-wrap {
  width: 28vw;
  z-index: 3;
}
@media (min-width: 48em) {
  .nav-tags-wrap {
    width: 100%;
  }
}

/**
* Components
**/
.page-about__article {
  box-sizing: border-box;
  padding: var(--padding-lg);
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.page-about__feat-img {
  z-index: -1;
}

.posts-list {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  min-height: 65vh;
  padding: var(--padding-lg);
}

.list-post {
  margin-top: var(--padding-lg);
  margin-bottom: var(--padding-lg);
}

.post-header {
  position: relative;
  overflow: hidden;
  width: 100%;
  border-radius: 10px 0 10px 0;
  box-sizing: border-box;
  text-align: center;
  background: black;
  color: white;
  max-width: var(--paragraph-width);
  padding: 0 var(--padding-md);
}

.post-title {
  z-index: 14;
  position: relative;
}

.post-list__feature-img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  z-index: 13;
  height: 100%;
  opacity: 0.5;
}

.post-listing__pageindicator {
  background: #0C0E17;
}
@media (min-width: 48em) {
  .post-listing__pageindicator {
    padding: var(--padding-lg);
  }
}

.post-single {
  background: white;
}

.post-single__header {
  padding-top: 7em;
  position: relative;
  min-height: 440px;
  width: 100%;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--shakespeare);
}
.post-single__header h1 {
  font-size: 3em;
  position: relative;
  box-sizing: border-box;
  padding: 0 var(--padding-lg);
  line-height: 1.2em;
  z-index: 9;
  margin: 0;
}
.post-single__header p {
  margin: var(--padding-md);
}
.post-single__header time {
  margin-bottom: var(--padding-lg);
}
.post-single__header p, .post-single__header time {
  text-transform: uppercase;
  font-size: 1.2em;
  width: 20em;
  position: relative;
  z-index: 8;
}
.post-single__header a {
  color: white;
}
.post-single__header a:hover {
  text-decoration: underline;
}
@media (min-width: 48em) {
  .post-single__header h1 {
    font-size: 4em;
  }
}

.post-single__feat-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 7;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.75;
}

.post-single__content {
  box-sizing: border-box;
  background: white;
  padding: var(--padding-lg);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  font-size: 1.2em;
}
.post-single__content a {
  text-decoration: underline;
}
.post-single__content img {
  max-width: 100%;
}
.post-single__content pre {
  overflow: scroll;
}
.post-single__content code {
  font-size: 0.75em;
}

.post-single__footer {
  padding: var(--padding-lg);
  box-sizing: border-box;
  font-style: italic;
}
.post-single__footer img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50px;
  float: left;
  margin-right: var(--padding-md);
}
.post-single__footer p {
  margin: 0 auto;
  padding-bottom: 6em;
}

.posts-grid {
  display: flex;
  flex-wrap: wrap;
}

.grid-post {
  overflow: hidden;
  position: relative;
  display: flex;
  min-width: 100%;
  flex-grow: 1;
  flex-direction: column;
  justify-content: flex-end;
  align-items: baseline;
  box-sizing: border-box;
  padding: var(--padding-lg);
}
.grid-post:hover .grid-post__cover-image {
  transform: scale(1.05);
}
.grid-post:not(.featured) {
  min-height: 260px;
}
@media (min-width: 48em) {
  .grid-post:not(.featured) {
    min-width: 33.333%;
  }
  .grid-post:not(.featured) .grid-post__header {
    max-width: 230px;
  }
}
.grid-post.featured {
  padding-top: 7em;
  min-width: 100%;
  order: -1;
}
.grid-post.featured time {
  display: inline;
}
.grid-post.featured time::before {
  content: "• ";
}
.grid-post.featured .grid-post__title {
  font-size: 2.5em;
}
@media (min-width: 48em) {
  .grid-post.featured {
    height: 440px;
    padding-top: var(--padding-lg);
  }
  .grid-post.featured .grid-post__author {
    display: inline-block;
  }
}
.grid-post time {
  display: block;
}
.grid-post:nth-child(5n) {
  background: var(--shakespeare);
}
.grid-post:nth-child(5n+1) {
  background: var(--portage);
}
.grid-post:nth-child(5n+2) {
  background: var(--japonica);
}
.grid-post:nth-child(5n+3) {
  background: var(--san-marino);
}
.grid-post:nth-child(5n+4) {
  background: var(--kimberly);
}

.grid-post__header {
  z-index: 5;
}

.grid-post__title {
  color: #FFF;
  font-size: 1.9em;
  line-height: 1.2em;
}
.grid-post__title a, .grid-post__title a:hover {
  color: #fff;
}

.grid-post__footer {
  text-transform: uppercase;
  color: var(--sheer-white);
  z-index: 6;
}
.grid-post__footer a {
  color: var(--sheer-white);
}
.grid-post__footer a:hover {
  color: white;
}

.grid-post__cover-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  transition: transform 0.35s 0.05s ease;
  opacity: 0.75;
}

.tag-info {
  box-sizing: border-box;
  color: white;
  position: relative;
  overflow: hidden;
  padding: 7em var(--padding-lg) var(--padding-lg) var(--padding-lg);
}
@media (min-width: 48em) {
  .tag-info {
    padding: var(--padding-lg);
  }
}

.tag-info__name {
  position: relative;
  z-index: 18;
}

.tag-info__description {
  position: relative;
  z-index: 15;
}

.tag__featured-img {
  opacity: 0.5;
  z-index: 13;
}
