/**********************
* Mobile Header
**********************/
.mobile-header {
    position: fixed;
    display: block;
    box-sizing: border-box;
    max-height: 7em;
    padding: var(--padding-lg);
    z-index: 10;
    width: 100%;
    transition: background-color 0.5s;
    &.shaded {
        background: #000;
    }
    @include if-above(sm) {
        display: none;
    }
}

.mobile-header__sidebar-button {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    cursor: pointer;
    &.openable {
        .hamburger {
            display: block;
        }
    }
    &.closable {
        .xmark {
            display: block;
        }
    }
}

.mobile-header__logo {
    height: 4em;
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.hamburger, .xmark {
    display:none;
    height: 2em;
    transition: opacity 0.25s;
}