.page-about__article {
    box-sizing: border-box;
    padding: var(--padding-lg);
    position:relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.page-about__feat-img {
    z-index: -1;
}