.posts-list {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    min-height: 65vh;
    padding: var(--padding-lg);
}

.list-post {
    margin-top: var(--padding-lg);
    margin-bottom: var(--padding-lg);
}

.post-header {
    position: relative;
    overflow: hidden;
    width: 100%;
    border-radius: 10px 0 10px 0;
    box-sizing: border-box;
    text-align: center;
    background: black;
    color: white;
    max-width: var(--paragraph-width);
    padding: 0 var(--padding-md);
}

.post-title {
    z-index: 14;
    position: relative;
}

.post-list__feature-img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    z-index: 13;
    height: 100%;
    opacity: 0.5;
}

.post-listing__pageindicator {
    background: #0C0E17;
    @include if-above(sm) {
        padding: var(--padding-lg);
    }
}