.posts-grid {
    display: flex;
    flex-wrap: wrap;
}

.grid-post {
    overflow: hidden;
    position: relative;
    display: flex;
    min-width: 100%;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-end;
    align-items: baseline;
    box-sizing: border-box;
    padding: var(--padding-lg);

    &:hover .grid-post__cover-image {
        transform: scale(1.05);
    }

    &:not(.featured) {
        min-height: 260px;
        @include if-above(sm) {
            min-width: 33.333%;
            .grid-post__header {
                max-width: 230px;
            }
        }
    }

    &.featured {
        padding-top: 7em;
        min-width: 100%;
        order: -1;
        time {
            display: inline;
        }
        time::before {
            content: "• "
        }
        .grid-post__title {
            font-size: 2.5em;
        }
        @include if-above(sm) {
            height: 440px;
            padding-top: var(--padding-lg);
            .grid-post__author {
                display: inline-block;
            }
        }
    }

    time {
        display: block;
    }

    &:nth-child(5n) {
        background: var(--shakespeare);
    }
    &:nth-child(5n+1) {
        background: var(--portage);
    }
    &:nth-child(5n+2) {
        background: var(--japonica);
    }
    &:nth-child(5n+3) {
        background: var(--san-marino);
    }
    &:nth-child(5n+4) {
        background: var(--kimberly);
    }
}

.grid-post__header {
    z-index: 5;
}

.grid-post__title {
    color: #FFF;
    a, a:hover {
        color: #fff;
    }
    font-size: 1.9em;
    line-height: 1.2em;
}

.grid-post__footer {
    text-transform: uppercase;
    color: var(--sheer-white);
    z-index: 6;
    a {
        color: var(--sheer-white);
    }
    a:hover {
        color: rgba(255, 255, 255, 1);
    }
}

.grid-post__cover-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    transition: transform 0.35s 0.05s ease;
    opacity: 0.75;
}