.post-single {
    background: white;
}

.post-single__header {
    padding-top: 7em;
    position: relative;
    min-height: 440px;
    width: 100%;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--shakespeare);
    h1 {
        font-size: 3em;
        position: relative;
        box-sizing: border-box;
        padding: 0 var(--padding-lg);
        line-height: 1.2em;
        z-index: 9;
        margin: 0;
    } 
    p {
        margin: var(--padding-md);
    }
    time {
        margin-bottom: var(--padding-lg);
    }
    p, time {
        text-transform: uppercase;
        font-size: 1.2em;
        width: 20em;
        position: relative;
        z-index: 8;
    }
    a {
        color: white;
    }
    a:hover {
        text-decoration: underline;
    }
    @include if-above(sm) {
        h1 {
            font-size: 4em;
        }
    }
}

.post-single__feat-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.75;
}

.post-single__content {
    box-sizing: border-box;
    background: white;
    padding: var(--padding-lg);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    font-size: 1.2em;
    a {
        text-decoration: underline;
    }
    img {
        max-width: 100%;
    }
    pre {
        overflow: scroll;
    }
    code {
        font-size: 0.75em;
    }
}

.post-single__footer {
    padding: var(--padding-lg);
    box-sizing: border-box;
    font-style: italic;
    img {
        height: 100px;
        width: 100px;
        object-fit: cover;
        border-radius: 50px;
        float: left;
        margin-right: var(--padding-md);
    }
    p {
        margin: 0 auto;
        padding-bottom: 6em;
    }
}

