/**********************
* Site Sidebar
**********************/
.page-sidebar {
    box-shadow: inset -25px -20px 45px -25px rgba(0,0,0,0.5);
    background: linear-gradient(-180deg, #000000 0%, #232628 79%, #3D3F43 100%);
    overflow: hidden;
    grid-area: sidebar;
    position:relative;
    box-sizing: border-box;
    padding: 8%;
    color: var(--body-grey);
    text-transform: uppercase;

    hr {
        opacity: 0.2;
    }
    
    .nav, .tags {
        margin-left: 3px;
        list-style-type: none;
        line-height: 2.3em;
        padding-left: 0;
    }

    a {
        color: inherit;
        font-weight: 300;
    }

    a:hover {
        color: white;
    }

}

.page-sidebar__logo {
    display: none;
    position:relative;
    z-index: 1;
    text-align: center;
    img {
        width: 100%;
        max-height: 100px;
        object-fit: contain;
    }
    @include if-above(sm) {
        display: block;
    }
}

.page-sidebar nav {
    position: fixed;
    @include if-above(sm) {
        position: relative;
    }
}
.page-sidebar__bloginfo {
    position:relative;
    z-index: 2;
}

.page-sidebar__cover-image {
    opacity: 0.25;
}

.nav-tags-wrap {
    width: 28vw;
    z-index: 3;
    @include if-above(sm) {
        width: 100%;
    }
}