/**********************
* General/Wrapper
**********************/

.site-wrapper {
    display: grid;
    position: relative;
    min-height: 100vh;
    transition: all 0.25s;

    grid-template-columns: 33vw 100vw;
    grid-template-rows: auto 17em;
    grid-template-areas: "sidebar action"
                        "sidebar footer";    
    width: 133vw;
    left: -33vw;
    
    &.sidebar-open {
        left: 0;
    }

    @include if-above(sm) {
        grid-template-columns: 0.2fr 0.8fr;
        grid-template-rows: auto auto;
        grid-template-areas: "sidebar action"
                            "footer footer";
        width: 100vw;
        left: 0;
    }

    @include if-above(md) {
        grid-template-columns: 230px 1fr;
    }

}

.content-wrap {
    grid-area: action;
}

.pad-top-mobile {
    padding-top: 7em;
    @include if-above(sm) {
        padding-top: var(--padding-lg);
    }
}

.cover-image {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.kg-card-markdown {
    max-width: var(--paragraph-width);
}

.post-listing__pageindicator {
    padding: 7em var(--padding-lg) var(--padding-lg) var(--padding-lg);
    box-sizing: border-box;
    color: white;
    position: relative;
    overflow: hidden;
}

.load-more {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1em;
    background: 0;
    width: 100%;
    background: #0C0E17;
    border-radius: 0;
    margin: 0 auto;
    position: relative;
    display: block;
    color: var(--body-grey);
}
/**********************
* Pagination
**********************/
.pagination {
    padding: var(--padding-lg);
    text-transform: uppercase;
    color: var(--sheer-white);
    display: block;
    justify-content: center;
    align-items: center;
    background: #0C0E17;
    &::before {
        content: "(";
    }
    &::after {
        content: ")";
    }
}

/**********************
* Site Footer
**********************/
.site-footer {
    text-transform: uppercase;
    a {
        color: inherit;
        font-weight: 300;
    }
    a:hover {
        color: white;
    }
}

.site-footer-content {
    flex-direction: column;
    @include if-above(sm) {
        flex-direction: row;
    }
}

.site-footer {
    background: #000;
    grid-area: footer;
    text-align: center;
    color: var(--body-grey);
    padding: var(--padding-lg);
    line-height: 1.5em;
}

.site-footer-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    a {
        text-decoration: underline;
    }
}

.site-footer__logo {
    height: 4em;
    margin-bottom: 2em;
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.callback { 
    justify-self: flex-end;
}
