.tag-info {
    box-sizing: border-box;
    color: white;
    position: relative;
    overflow: hidden;
    padding: 7em var(--padding-lg) var(--padding-lg) var(--padding-lg);
    @include if-above(sm) {
        padding: var(--padding-lg);
    }
}

.tag-info__name {
    position: relative;
    z-index: 18;

}

.tag-info__description {
    position: relative;
    z-index: 15;
}

.tag__featured-img {
    opacity: 0.5;
    z-index: 13;
}