:root {
    --body-black: #1C1810;
    --body-grey: #C6C6C6;
    --accent-dark-a: #594471;
    --accent-dark-b: #2090CD;

    --accent-light-b: #9BCCC8;
    --lightest-a: #f4f6f5;
    --lightest-b: #e0f1fa;

    --padding-md: 0.5rem;
    --padding-lg: 1.5rem;

    --japonica: #D7785D;
    --portage: #7B8FE3;
    --san-marino: #4973B2;
    --kimberly: #73699E;
    --shakespeare: #52A8C8 ;

    --sheer-white: rgba(255,255,255,0.8);

    --paragraph-width: 33em;
}